<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript"></script>
	<title>Quick Tunes</title>
</head>

<body>
  <h1><a href="/">Quick Tunes</a></h1>
  <p>Search for any artist or band and get videos from their top 5 tracks:</p>
  <%= yield %>
  <p>Powered by <a href="http://pittlandia.net">PiTTlândia</a>. Source-code up for grabs at
    <a href="https://github.com/rtopitt/quick_tunes">GitHub</a>.</p>
  <script type="text/javascript">
    $('#search_artist').focus();
    $('#search_form').submit(function(){
      $('input[type=submit]', this).attr('value', 'Searching...');
      $('input[type=submit]', this).attr('disabled', 'disabled');
    });
  </script>
</body>
</html>
